{% extends 'index.html' %}
{% block title %}Carro: {{ car.marca }} - {{ car.modelo }} {% endblock title %}
{% block content %}
<h1>Detalhes do Carro</h1>
<h2>Carro:</h2>
<div class="d-flex justify-content-end">
</div>
<div class="card mt-4">
    <div class="card-header">
        {{ car.codigo }}
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Marca: {{ car.marca }}</li>
            <li class="list-group-item">Modelo: {{ car.modelo }}</li>
            <li class="list-group-item">Data de compra: {{ car.comprar }}</li>
          </ul>
    </div>
</div>
{% endblock content %}